<div class="<%= wrapper_classes %>" <%= tag.attributes(wrapper_attributes) %>>
  <progress class="<%= progress_classes %>" value="<%= @value %>" max="<%= @max %>"></progress>
  <% if show_percentage? %>
    <span class="text-sm font-medium"><%= percentage_value %>%</span>
  <% end %>
</div>
