<%= render Bali::Footer::Component.new(color: :neutral) do |footer| %>
  <% footer.with_brand do %>
    <h3 class="text-lg font-bold mb-2">TechCorp</h3>
    <p class="text-sm opacity-80 max-w-xs mb-4">Making technology accessible to everyone.</p>
    <div class="flex gap-4">
      <%= render Bali::Link::Component.new(href: '#', variant: :ghost, class: 'p-2') do %>
        <%= render Bali::Icon::Component.new('twitter') %>
      <% end %>
      <%= render Bali::Link::Component.new(href: '#', variant: :ghost, class: 'p-2') do %>
        <%= render Bali::Icon::Component.new('youtube') %>
      <% end %>
      <%= render Bali::Link::Component.new(href: '#', variant: :ghost, class: 'p-2') do %>
        <%= render Bali::Icon::Component.new('facebook') %>
      <% end %>
    </div>
  <% end %>

  <% footer.with_section(title: 'Product') do |section| %>
    <% section.with_link(name: 'Features', href: '#') %>
    <% section.with_link(name: 'Pricing', href: '#') %>
    <% section.with_link(name: 'Documentation', href: '#') %>
    <% section.with_link(name: 'API Reference', href: '#') %>
  <% end %>

  <% footer.with_section(title: 'Resources') do |section| %>
    <% section.with_link(name: 'Blog', href: '#') %>
    <% section.with_link(name: 'Tutorials', href: '#') %>
    <% section.with_link(name: 'Community', href: '#') %>
    <% section.with_link(name: 'Support', href: '#') %>
  <% end %>

  <% footer.with_section(title: 'Company') do |section| %>
    <% section.with_link(name: 'About', href: '#') %>
    <% section.with_link(name: 'Careers', href: '#') %>
    <% section.with_link(name: 'Contact', href: '#') %>
  <% end %>

  <% footer.with_bottom do %>
    <div class="flex flex-col sm:flex-row justify-between items-center gap-4 w-full">
      <p>&copy; <%= Date.current.year %> TechCorp. All rights reserved.</p>
      <div class="flex gap-4 text-sm">
        <a href="#" class="link link-hover">Privacy</a>
        <a href="#" class="link link-hover">Terms</a>
        <a href="#" class="link link-hover">Cookies</a>
      </div>
    </div>
  <% end %>
<% end %>
