<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Bali</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "bali/application", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
