<%= tag.div(**options) do %>
  <%= tag.ul(class: menu_classes) do %>
    <% start_items.each do |start_item| %>
      <li><%= start_item %></li>
    <% end %>
  <% end %>
  <% if end_items.any? %>
    <%= tag.ul(class: menu_classes) do %>
      <% end_items.each do |end_item| %>
        <li><%= end_item %></li>
      <% end %>
    <% end %>
  <% end %>
<% end %>
