<div <%= tag.attributes(**options) %>>
  <% if trigger? %>
    <%= trigger %>
  <% else %>
    <div tabindex="0" role="button" class="<%= trigger_classes %>">
      <%= render Bali::Icon::Component.new(@icon) %>
    </div>
  <% end %>
  <ul tabindex="0" class="<%= menu_classes %>">
    <% if authorized_items.any? %>
      <% authorized_items.each do |item| %>
        <li><%= item %></li>
      <% end %>
    <% else %>
      <%= content %>
    <% end %>
  </ul>
</div>
