<div <%= tag.attributes(**options) %>>
  <% if trigger? %>
    <%= trigger %>
  <% else %>
    <div tabindex="0" role="button" class="<%= trigger_classes %>">
      <%= render Bali::Icon::Component.new(@icon) %>
    </div>
  <% end %>
  <ul tabindex="0" class="dropdown-content menu bg-base-100 text-neutral-800 rounded-box z-1 w-52 p-2 shadow-sm">
    <% if authorized_items.any? %>
      <% authorized_items.each do |item| %>
        <li><%= item %></li>
      <% end %>
    <% else %>
      <%= content %>
    <% end %>
  </ul>
</div>
