<%= tag.div class: 'table-container table-component' do %>
  <%= tag.table id: id, **options do %>
    <thead>
      <tr>
        <% headers.each do |header| %>
          <%= header %>
        <% end %>
      </tr>
    </thead>
    <%= tag.tbody(**tbody_options) do %>
      <% if rows.any? %>
        <% rows.each do |row| %>
          <%= row %>
        <% end %>
      <% else %>
        <tr id="<%= empty_table_row_id %>">
          <td class="empty-table" colspan="<%= headers.count %>">
            <div class='has-text-centered m-6'>
              <% if form&.active_filters? %>
                <%= no_results_notification || tag.p(t('.no_results')) %>
              <% else %>
                <% if no_records_notification.present? %>
                  <%= no_records_notification %>
                <% else %>
                  <p><%= t('.no_records') %></p>
                  <br />
                  <%= new_record_link %>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if footers.any? %>
      <tfoot>
        <% footers.each do |footer| %>
          <%= footer %>
        <% end %>
      </tfoot>
    <% end %>
  <% end %>
<% end %>