<%= tag.div id: id, **table_container_options do %>
  <%= tag.table **options do %>
    <thead>
      <tr>
        <% if @bulk_actions.any? %>
          <th>
            <%= tag.input type: 'checkbox', data: { action: 'table#toggleAll', table_target: 'toggleAll' } %>
          </th>
        <% end %>

        <% headers.each do |header| %>
          <%= header unless header.hidden %>
        <% end %>
      </tr>
    </thead>
    <%= tag.tbody(**tbody_options) do %>
      <% if rows.any? %>
        <% rows.each do |row| %>
          <%= row %>
        <% end %>
      <% else %>
        <tr id="<%= empty_table_row_id %>">
          <td class="empty-table" colspan="<%= headers.count %>">
            <div class='has-text-centered m-6'>
              <% if form&.active_filters? %>
                <%= no_results_notification || tag.p(t('.no_results')) %>
              <% else %>
                <% if no_records_notification.present? %>
                  <%= no_records_notification %>
                <% else %>
                  <p><%= t('.no_records') %></p>
                  <br />
                  <%= new_record_link %>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if footers.any? %>
      <tfoot>
        <% footers.each do |footer| %>
          <%= footer %>
        <% end %>
      </tfoot>
    <% end %>
  <% end %>

  <% if @bulk_actions.any? %>
    <div class="bulk-actions-container is-hidden" data-table-target="actionsContainer">
      <div class="floated-bar">
        <div class="selected-count" data-table-target="selectedCount">0</div>
        <div class="bulk-actions">
          <% @bulk_actions.each do |action| %>
              <%= render Bali::Table::BulkAction::Component.new(**action) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
