<div class="form-page-component mx-auto <%= max_width %>">
  <%= render_breadcrumbs %>

  <%= render Bali::PageHeader::Component.new(
    title: title,
    subtitle: subtitle,
    back: back,
    class: breadcrumb_spacer_class
  ) %>

  <div class="mt-6">
    <% if sidebar? %>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <div class="lg:col-span-2">
          <% if card? %>
            <%= render Bali::Card::Component.new(style: :bordered) do %><%= body %><% end %>
          <% else %>
            <%= body %>
          <% end %>
        </div>
        <div class="space-y-6"><%= sidebar %></div>
      </div>
    <% else %>
      <% if card? %>
        <%= render Bali::Card::Component.new(style: :bordered) do %><%= body %><% end %>
      <% else %>
        <%= body %>
      <% end %>
    <% end %>
  </div>
</div>
