<div class="<%= wrapper_classes %>">
  <div tabindex="0" role="button" class="<%= trigger_classes %>">
    <%= name %>
    <%= render Bali::Icon::Component.new(icon, size: :small) %>
  </div>
  <%# pt-2 creates invisible hover bridge between trigger and menu %>
  <div class="dropdown-content pt-2">
    <ul tabindex="0" class="<%= menu_classes %>">
      <% items.each do |item| %>
        <li><%= link_to item.name, item.href, **(item.options || {}) %></li>
      <% end %>
    </ul>
  </div>
</div>
