<%= tag.div(id: input_id) do %>
  <% if multiple? %>
    <div 
      data-controller='filter-text-inputs-manager' 
      data-filter-text-inputs-manager-input-name-value="<%= input_name %>"
      data-filter-text-inputs-manager-type-value="<%= numeric_field? ? 'number' : 'text' %>"
    >
      <label class="label">
        <%= @title %>
        <span class="is-size-7 has-text-grey"><%= t("ransack.predicates.#{predicate}") %></span>
        <%= render Bali::Link::Component.new(
            href: nil, class: 'ml-2 is-size-7',data: { action: "filter-text-inputs-manager#add" }
        ) do %>
          &plus; <%= t('helpers.add.text') %>
        <% end %>
      </label>

      <div class="multiple-text-inputs-container" data-filter-text-inputs-manager-target="inputsContainer">
        <% if value.blank? %>
          <div class="field has-addons">
            <div class="control">
              <% if numeric_field? %>
                <%= number_field_tag input_name, "", class: 'input', step: :any %>
              <% else %>
                <%= text_field_tag input_name, "", class: 'input' %>
              <% end %>
            </div>
            <div class="control">
              <a class="button" data-action="filter-text-inputs-manager#remove">&times;</a>
            </div>
          </div>
        <% else %>
          <% value.each do |option| %>
            <div class="field has-addons">
              <div class="control">
                <% if numeric_field? %>
                  <%= number_field_tag input_name, option, class: 'input', step: :any %>
                <% else %>
                  <%= text_field_tag input_name, option, class: 'input' %>
                <% end %>
              </div>
              <div class="control">
                <a class="button" data-action="filter-text-inputs-manager#remove">&times;</a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <label class="label">
      <%= @title %>
      <span class="is-size-7 has-text-grey"><%= t("ransack.predicates.#{predicate}") %></span>
    </label>

    <div class="control">
      <% if numeric_field? %>
        <%= number_field_tag input_name, value, class: 'input', step: :any %>
      <% else %>
        <%= text_field_tag input_name, value, class: 'input' %>
      <% end %>
    </div>
  <% end %>
<% end %>
