<%= form_with scope: :filters, url: '#', method: :get, builder: Bali::FormBuilder, local: true, class: 'space-y-6' do |f| %>
  <%# Category Select %>
  <% categories = [
    [t('drawers.filters.all_categories'), ''],
    [t('drawers.filters.electronics'), 'electronics'],
    [t('drawers.filters.clothing'), 'clothing']
  ] %>
  <%= f.select_group :category, categories, {}, { label: t('drawers.filters.category') } %>

  <%# Price Range Slider %>
  <%= f.range_field_group :price_range,
      label: t('drawers.filters.price_range'),
      min: 0,
      max: 1000,
      step: 100,
      color: :primary,
      size: :sm,
      show_ticks: true,
      ticks: 3,
      prefix: '$' %>

  <%# In Stock Toggle %>
  <%= f.switch_field_group :in_stock, label: t('drawers.filters.in_stock_only'), color: :primary %>

  <%# Submit Button %>
  <div class="pt-2">
    <%= render Bali::Button::Component.new(
      name: t('drawers.filters.apply_filters'),
      variant: :primary,
      type: :submit,
      class: 'w-full'
    ) %>
  </div>
<% end %>
