<%= tag.nav(role: 'navigation', 'aria-label': 'Main', **options) do %>
  <%= '<div class="container">'.html_safe unless fullscreen %>

  <div class="navbar-brand">
    <%= brand %>

    <% if burgers? %>
      <% burgers.each do |burger| %>
        <%= burger %>
      <% end %>
    <% else %>
      <%= render Bali::Navbar::Burger::Component.new(
          data: { action:"navbar#toggleMenu", 'navbar-target': 'burger' }) %>
    <% end %>
  </div>

  <% if split_menu_on_mobile %>
    <div class="navbar-menu" data-navbar-target="menu">
      <div class="navbar-start">
        <% start_items.each do |start_item| %>
          <%= start_item %>
        <% end %>
      </div>
    </div>

    <div class="navbar-menu" data-navbar-target="altMenu">
      <div class="navbar-end">
        <% end_items.each do |end_item| %>
          <%= end_item %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="navbar-menu" data-navbar-target="menu">
      <div class="navbar-start">
        <% start_items.each do |start_item| %>
          <%= start_item %>
        <% end %>
      </div>

      <div class="navbar-end">
        <% end_items.each do |end_item| %>
          <%= end_item %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= '</div>'.html_safe unless fullscreen %>
<% end %>
