<%= tag.nav(role: 'navigation', 'aria-label': t('.main_navigation'), **options) do %>
  <div class="<%= container_classes %>">
    <div class="flex items-center gap-2">
      <%= brand %>
      <% if burgers? %>
        <% burgers.each do |burger| %>
          <%= burger %>
        <% end %>
      <% else %>
        <%= render Bali::Navbar::Burger::Component.new %>
      <% end %>
    </div>
    <% menus.each do |menu| %>
      <%= menu %>
    <% end %>
  </div>
<% end %>
