<%= tag.nav(role: 'navigation', 'aria-label': 'Main', **options) do %>
  <%= "<div class='container #{@container_class}'>".html_safe unless fullscreen %>
  <div class="navbar-start">
    <%= brand %>
    <% if burgers? %>
      <% burgers.each do |burger| %>
        <%= burger %>
      <% end %>
    <% else %>
      <%= render Bali::Navbar::Burger::Component.new %>
    <% end %>
  </div>
  <% menus.each do |menu| %>
    <%= menu %>
  <% end %>
  <%= '</div>'.html_safe unless fullscreen %>
<% end %>
