<%= tag.nav(role: 'navigation', 'aria-label': t('.main_navigation'), **options) do %>
  <% unless fullscreen %>
    <div class="<%= class_names('container', @container_class) %>">
  <% end %>
  <div class="navbar-start">
    <%= brand %>
    <% if burgers? %>
      <% burgers.each do |burger| %>
        <%= burger %>
      <% end %>
    <% else %>
      <%= render Bali::Navbar::Burger::Component.new %>
    <% end %>
  </div>
  <% menus.each do |menu| %>
    <%= menu %>
  <% end %>
  <% unless fullscreen %>
    </div>
  <% end %>
<% end %>
