<% if @collection_options.size.positive? %>
  <%= tag.div(**@options) do %>
    <label class="label">
      <%= title %>
      <span class="text-xs text-base-content/60"><%= t("ransack.predicates.#{predicate}") %></span>
    </label>
    <% if @collection_options.size <= 5 %>
      <div class="filter-options">
        <% collection_options.each do |option_name, option_value| %>
          <% if option_value.is_a?(Array) %>
            <span class="badge bg-base-100 font-bold"><%= option_name %></span>
            <% option_value.each do |sub_option_name, sub_option_value| %>
              <%= render Bali::Filters::Option::Component.new(
                  title: sub_option_name,
                  name: input_name,
                  value: sub_option_value,
                  selected: selected_values.include?(sub_option_value.to_s)) %>
            <% end %>
          <% else %>
            <%= render Bali::Filters::Option::Component.new(
                title: option_name,
                name: input_name,
                value: option_value,
                selected: selected_values.include?(option_value.to_s)) %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div id="<%= input_id %>_container"
        class="slim-select"
        data-controller="slim-select"
        data-slim-select-close-on-select-value="true",
        data-slim-select-allow-deselect-option-value="true",
        data-slim-select-placeholder-value="",
        data-slim-select-add-items-value="false",
        data-slim-select-show-content-value="auto",
        data-slim-select-show-search-value="true",
        data-slim-select-search-placeholder-value="",
        data-slim-select-add-to-body-value="true",
        data-slim-select-select-all-text-value="Select all",
        data-slim-select-deselect-all-text-value="Deselect all",
      >
        <%= select_tag input_name, options_for_select(@collection_options, selected_values), 
            multiple: multiple, class: class_names('select select-bordered w-full'),
            include_blank: !multiple, data: { slim_select_target: 'select' } %>
      </div>
    <% end %>
  <% end %>
<% end %>
