<%= tag.div(**container_options) do %>
  <% if multiple_menus? %>
    <div class="dropdown dropdown-bottom w-full mb-2">
      <div tabindex="0" role="button" class="flex items-center w-full p-2 rounded-lg hover:bg-base-200 cursor-pointer border border-base-300 bg-base-100">
        <%= active_menu %>
        <%= render Bali::Icon::Component.new('chevron-down', class: 'w-4 h-4 ml-auto shrink-0') %>
      </div>
      <ul tabindex="0" class="dropdown-content z-50 w-full mt-1 p-1 shadow-lg bg-base-100 rounded-lg border border-base-300 flex flex-col">
        <% authorized_menus.each do |menu| %>
          <li class="w-full list-none">
            <a href="<%= menu.href %>" class="<%= class_names(
              'flex items-center w-full p-2 rounded-md transition-colors',
              'bg-primary/10 text-primary pointer-events-none': menu == active_menu,
              'hover:bg-base-200': menu != active_menu
            ) %>">
              <%= menu %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="menu bg-base-200 rounded-box w-56">
    <% if single_menu? %>
      <li class="menu-title"><%= authorized_menus.first %></li>
    <% end %>
    <% if collapsable? %>
      <li>
        <%= render Bali::Link::Component.new(href: nil, class: 'text-base-content/70',
            data: { action: 'side-menu#toggleCollapse' }
        ) do %>
          <%= render Bali::Icon::Component.new('chevron-left', class: 'collapse-icon') %>
          <%= render Bali::Icon::Component.new('chevron-right', class: 'expand-icon') %>
        <% end %>
      </li>
    <% end %>
    <% if show_divider? %>
      <li class="divider"></li>
    <% end %>
    <% lists.each do |list| %>
      <%= list %>
    <% end %>
  </ul>
<% end %>
<div class="menu-overlay fixed inset-0 bg-black/50 z-40 hidden" data-side-menu-target="overlay"></div>
