<%= tag.div(id: input_id) do %>
  <% if multiple? %>
    <div 
      data-controller='filter-text-inputs-manager' 
      data-filter-text-inputs-manager-input-name-value="<%= input_name %>"
      data-filter-text-inputs-manager-type-value="<%= input_type %>"
    >
      <label class="label">
        <%= @title %>
        <span class="text-xs text-base-content/60"><%= t("ransack.predicates.#{predicate}") %></span>
        <%= render Bali::Link::Component.new(
            href: nil, class: 'ml-2 text-xs',data: { action: "filter-text-inputs-manager#add" }
        ) do %>
          &plus; <%= t('helpers.add.text') %>
        <% end %>
      </label>
      <div class="multiple-text-inputs-container" data-filter-text-inputs-manager-target="inputsContainer">
        <% if value.blank? %>
          <div class="join w-full">
            <div class="join-item flex-1">
              <%= text_field_tag input_name, value, class: 'input input-bordered w-full', type: input_type %>
            </div>
            <div class="join-item">
              <a class="btn" data-action="filter-text-inputs-manager#remove">&times;</a>
            </div>
          </div>
        <% else %>
          <% value.each do |option| %>
            <div class="join w-full">
              <div class="join-item flex-1">
                <%= text_field_tag input_name, value, class: 'input input-bordered w-full', type: input_type %>
              </div>
              <div class="join-item">
                <a class="btn" data-action="filter-text-inputs-manager#remove">&times;</a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <label class="label">
      <%= @title %>
      <span class="text-xs text-base-content/60"><%= t("ransack.predicates.#{predicate}") %></span>
    </label>
    <div class="form-control">
      <%= text_field_tag input_name, value, class: 'input input-bordered w-full', type: input_type %>
    </div>
  <% end %>
<% end %>
