<%= tag.div(**options) do %>
  <div class="item-contents flex-1">
    <% if title? %>
      <%= title %>
    <% end %>
    <% if subtitle? %>
      <%= subtitle %>
    <% end %>
  </div>
  <% if content.present? %>
    <div class="item-contents flex-1">
      <%= content %>
    </div>
  <% end %>
  <% if actions? %>
    <div class="item-actions flex items-center gap-2">
      <% actions.each do |action| %>
        <%= action %>
      <% end %>
    </div>
  <% end %>
<% end %>
