<%= tag.div **@options do %>
  <figure class="image is-128x128">
    <% if picture? %>
      <%= picture %>
    <% else %>
      <%= image_tag(@placeholder_url, class: 'is-rounded', data: { 'avatar-target': 'output' }) %>
    <% end %>
  </figure>
  <div class="icon-content">
    <label for="file-input">
      <%= render Bali::Icon::Component.new('camera') %>
    </label>
    <div class="control">
      <%= @form.file_field @attr_model_name, accept: @accepted_formats, id: 'file-input',
                        data: { 'avatar-target': 'input', action: 'change->avatar#showImage' } %>
    </div>
  </div>
<% end %>
