<%= tag.div **@options do %>
  <figure class="image is-128x128">
    <% if picture? %>
      <%= picture %>
    <% else %>
      <img class="is-rounded" src="<%= placeholder_url %>" data-image-preview-target="output">
    <% end %>
  </figure>
  <div class="icon-content">
    <label for="file-input">
      <%= render Bali::Icon::Component.new('camera') %>
    </label>
    <%= file_field_input %>
  </div>
<% end %>
