<%= tag.div **@options do %>
  <figure class="image is-128x128">
    <% if picture? %>
      <%= picture %>
    <% else %>
      <%= default_image %>
    <% end %>
  </figure>
  <div class="icon-content">
    <label for="file-input">
      <%= render Bali::Icon::Component.new('camera') %>
    </label>
    <div class="control">
      <%= @form.file_field @attr_model_name, accept: @accepted_formats, id: 'file-input',
                        data: { 'image-preview-target': 'input', action: 'change->image-preview#showImage' } %>
    </div>
  </div>
<% end %>
