<%= tag.div(id: "field-#{input_id}", class: 'search-input-component w-full') do %>
  <%= tag.div class: field_class do %>
    <%= tag.div class: control_class do %>
      <%= tag.input placeholder: placeholder || t('.placeholder'),
                    class: input_class,
                    type: 'text',
                    name: input_name,
                    id: input_id,
                    value: value,
                    data: input_data %>
    <% end %>
    <% if !auto_submit %>
      <div class="join-item">
        <%= tag.button(type: :submit, **@submit_options.merge(class: 'btn btn-primary join-item').except(:type, 'type')) do %>
          <%= render Bali::Icon::Component.new('search', class: 'w-4 h-4') %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
