<div id="field-<%= input_id %>" class="<%= CONTAINER_CLASS %>">
  <div class="<%= container_classes %>">
    <div class="<%= control_classes %>">
      <%= tag.input(
            type: "text",
            id: input_id,
            name: input_name,
            value: value,
            placeholder: resolved_placeholder,
            class: input_classes,
            data: input_data
          ) %>
    </div>
    <% if show_submit_button? %>
      <div class="join-item">
        <%= tag.button(type: :submit, class: button_classes, **button_attributes) do %>
          <%= render Bali::Icon::Component.new("search", class: "w-4 h-4") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
