<%= render(Bali::Table::Component.new) do |c| %>
  <% c.with_headers(headers) %>
  <% c.with_no_records_notification do %>
    <%= render Bali::Icon::Component.new('alert-alt') %>
    <p>So sorry, no records found!</p>
  <% end %>
  <% records.each do |record| %>
    <%= c.with_row do %>
      <td><%= record[:name] %></td>
      <td><%= record[:amount] %></td>
    <% end %>
  <% end %>
  <%= c.with_new_record_link name: 'Nuevo registro', href: '#' %>
<% end %>
