<%= render Bali::Navbar::Component.new(
    fullscreen: fullscreen,
    transparency: transparency,
    color: local_assigns[:color] || :base,
    class: 'fixed top-0 left-0 right-0 z-50'
) do |nav| %>
  <% nav.with_brand do %>
    <%= render Bali::Link::Component.new(name: 'LOGO', href: '#', variant: :ghost, class: 'text-xl') %>
  <% end %>
  <% nav.with_burger(class: 'left-burger') %>
  <% nav.with_burger(class: 'flex justify-center items-center lg:hidden', type: :alt) do %>
    <%= render Bali::Icon::Component.new('user', tag_name: :div) %>
  <% end %>
  <% nav.with_menu do |menu| %>
    <% menu.with_start_item(name: 'Home', href: '#') %>
    <% menu.with_start_item(name: 'Documentation', href: '#') %>
    <% menu.with_start_item(tag_name: :div) do %>
      <%= render Bali::Dropdown::Component.new(align: :left) do |dropdown| %>
        <% dropdown.with_trigger(variant: :menu) do %>
          More
          <%= render Bali::Icon::Component.new('chevron-down', size: :small) %>
        <% end %>
        <li><a href="#">About</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Report an issue</a></li>
      <% end %>
    <% end %>
  <% end %>
  <% nav.with_menu(type: :alt) do |menu| %>
    <% menu.with_end_item(tag_name: :div) do %>
      <div class="flex items-center gap-2">
        <%# Use neutral variant for contrast on all navbar colors %>
        <%= render Bali::Link::Component.new(name: 'Sign up', href: '#', variant: :neutral) %>
        <%= render Bali::Link::Component.new(name: 'Log in', href: '#', variant: :ghost) %>
      </div>
    <% end %>
  <% end %>
<% end %>
