<%= render Bali::PageHeader::Component.new(
  title: @studio.name,
  back: { href: studios_path }
) do %>
  <%= render Bali::Link::Component.new(
    name: 'Edit',
    href: edit_studio_path(@studio),
    variant: :primary,
    size: :sm
  ) do |link| %>
    <% link.with_icon('pencil') %>
  <% end %>
<% end %>

<%= render Bali::Card::Component.new do %>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <%= render Bali::LabelValue::Component.new(label: 'Name', value: @studio.name) %>

    <%= render Bali::LabelValue::Component.new(label: 'Country') do %>
      <%= render Bali::Tag::Component.new(text: @studio.country, size: :sm, variant: :outline) %>
    <% end %>

    <%= render Bali::LabelValue::Component.new(label: 'Status') do %>
      <%= render Bali::Tag::Component.new(
        text: @studio.status.humanize,
        color: case @studio.status
               when 'active' then :success
               when 'inactive' then :error
               else :warning
               end,
        size: :sm
      ) %>
    <% end %>

    <%= render Bali::LabelValue::Component.new(label: 'Size', value: @studio.size&.humanize) %>
    <%= render Bali::LabelValue::Component.new(label: 'Founded', value: @studio.founded_year) %>
    <%= render Bali::LabelValue::Component.new(label: 'Created', value: l(@studio.created_at, format: :long)) %>
  </div>
<% end %>

<div class="mt-6">
  <%= render Bali::DeleteLink::Component.new(
    name: 'Delete Studio',
    href: studio_path(@studio),
    variant: :outline,
    confirm_message: "Are you sure you want to delete #{@studio.name}?"
  ) %>
</div>
