<%= render Bali::Level::Component.new(**options) do |c| %>
  <%= c.with_left(**@left_options) do |level| %>
    <% if @back_options[:href].present? %>
      <% level.with_item do %>
        <%= render Bali::Link::Component.new(icon_name: 'arrow-left', **@back_options) %>
      <% end %>
    <% end %>
    <% level.with_item do %>
      <div>
        <%= title || tag.h3(@title, class: 'title text-2xl font-bold mb-1') %>
        <%= subtitle || tag.h5(@subtitle, class: 'subtitle text-lg text-base-content/60') %>
      </div>
    <% end %>
  <% end %>
  <% c.with_right do %>
    <%= content %>
  <% end %>
<% end %>
