<%# Navbar with sticky positioning (default), brand, menu items, and user dropdown %>
<%= render Bali::Navbar::Component.new do |nav| %>
  <% nav.with_brand do %>
    <%= link_to 'MovieDB', root_path %>
  <% end %>
  <% nav.with_burger %>

  <% nav.with_menu do |menu| %>
    <%# Standard navigation items %>
    <% menu.with_start_item(name: 'Dashboard', href: root_path) %>
    <% menu.with_start_item(name: 'Movies', href: movies_path) %>
    <% menu.with_start_item(name: 'Showcase', href: showcase_path) %>

    <%# Dropdown menu item with nested navigation %>
    <% menu.with_start_dropdown_item(name: 'Settings') do |dropdown| %>
      <% dropdown.with_item(name: 'General', href: settings_path) %>
      <% dropdown.with_item(name: 'Notifications', href: '#') %>
      <% dropdown.with_item(name: 'Security', href: '#') %>
    <% end %>

    <%# External link with icon %>
    <% menu.with_start_item(name: 'Lookbook', href: '/lookbook', target: '_blank') do %>
      Lookbook
      <%= render Bali::Icon::Component.new('external-link', size: :small) %>
    <% end %>

    <%# User dropdown on the right side %>
    <% menu.with_end_item(tag_name: :div) do %>
      <%= render Bali::Dropdown::Component.new(align: :right) do |dropdown| %>
        <% dropdown.with_trigger(variant: :ghost) do %>
          <%= render Bali::Avatar::Component.new(size: :xs) do |avatar| %>
            <% avatar.with_placeholder { 'AD' } %>
          <% end %>
          Admin
          <%= render Bali::Icon::Component.new('chevron-down', size: :small) %>
        <% end %>
        <% dropdown.with_item(href: settings_path) { 'Settings' } %>
        <% dropdown.with_item(href: '#') { 'Profile' } %>
        <li class="divider my-1"></li>
        <% dropdown.with_item(href: '#', class: 'text-error') { 'Sign out' } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
