<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>MovieDB - Kitchen Sink Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%# stylesheet_link_tag "application", media: 'all' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>
  <body class="min-h-screen bg-base-200" data-controller="modal drawer">
    <%= render 'layouts/navbar' %>

    <main class="container mx-auto px-4 py-6 max-w-7xl">
      <%= render Bali::FlashNotifications::Component.new(
        notice: flash[:notice],
        alert: flash[:alert]
      ) %>

      <%= yield %>
    </main>

    <%# Empty modal/drawer templates - content loads via fetch %>
    <%= render Bali::Modal::Component.new(active: false, id: 'modal-template') %>
    <%= render Bali::Drawer::Component.new(active: false, drawer_id: 'drawer-template') %>
  </body>
</html>
