<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>MovieDB - Kitchen Sink Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <%= render Bali::AppLayout::Component.new(
    flash: flash,
    modal: true,
    drawer: true,
    body_class: "bg-base-200",
    data: { controller: "theme-switcher" }
  ) do |layout| %>
    <% layout.with_navbar do %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <% layout.with_body do %>
      <div class="container mx-auto max-w-7xl">
        <%= yield %>
      </div>
    <% end %>
  <% end %>
</html>
