<div class="<%= hero_classes %>">
  <div class="<%= content_classes %>">
    <div class="max-w-md">
      <%= title if title? %>
      <%= subtitle if subtitle? %>
      <%= actions if actions? %>
      <%= content %>
    </div>
  </div>
</div>
