<%= tag.button **button_attributes do %>
  <% if @loading %>
    <span class="loading loading-spinner loading-sm"></span>
  <% elsif icon.present? %>
    <%= icon %>
  <% elsif @icon_name.present? %>
    <%= render Bali::Icon::Component.new(@icon_name) %>
  <% end %>

  <% if responsive_icon_only? %>
    <span class="max-sm:hidden"><%= @name %></span>
  <% elsif @name.present? %>
    <%= @name %>
  <% else %>
    <%= content %>
  <% end %>

  <%= icon_right if icon_right.present? %>
<% end %>
