<%= tag.div **@options do %>
  <% if header? %>
    <%= header %>
  <% end %>
  <%= image %>
  <% if content.present? || footer_items.size.positive? %>
    <div class="card-body">
      <%= content %>
      <% if footer_items.size.positive? %>
        <div class="card-actions justify-end">
          <% footer_items.each do |footer_item| %>
            <%= footer_item %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
