<%= tag.div **@options do %>
  <% if alt_image.present? %>
  <div class="card card-component">
    <div class="card-images-container">
      <%= alt_image %>
      <%= image %>
    </div>
  </div>
  <% else %>
    <%= image %>
  <% end %>

  <div class="card-content">
    <div class="content">
      <%= content %>
    </div>
  </div>

  <div class="card-footer">
    <% footer_items.each do |footer_item| %>
      <%= footer_item %>
    <% end %>
  </div>
<% end %>
