<%= tag.div **@options do %>
  <%= image if image? %>
  <% if render_body? %>
    <div class="<%= body_classes %>">
      <%= header if header? %>
      <%= title if title? %>
      <%= content %>
      <% if actions.any? %>
        <div class="card-actions justify-end">
          <% actions.each do |action| %>
            <%= action %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
