<div class="card-component card card-fit">
    <%= image_container do %>
        <figure class="image is-2by1">
        <%= image_tag image, class: 'is-full' %>
        </figure>
    <% end %>
    <div class="card-content">
        <div class="media">
        <div class="media-content">
            <%= media %>
            <%# post.tags.each do |tag| %>
            <%#= link_to tag_path(tag) do %>
                <!--<span class="tag is-info is-light"><%#= tag.name %></span>-->
            <%# end %>
            <%# end #%>
        </div>
        </div>

        <div class="content">
        <div class="has-text-weight-bold is-uppercase">
            <%= link_to_if link.present?, title.truncate(50), link, class: 'has-text-dark' %>
        </div>
        <%= description.truncate(100) %>
        </div>
    </div>
    <div class="card-footer">
        <% footer_items.each do |item| %>
            <div class="card-footer-item">
                <%= item %>
            </div>
        <% end %>
        <% if link.present? %>
            <%= link_to t('actions.read'), link, class: 'card-footer-item' %>
        <% end %>
    </div>
</div>