<%= tag.div(**@options) do %>
  <%= @form.hidden_field @method, value: @value, data: { recurring_event_rule_target: 'input' } %>

  <div class="is-flex is-align-items-center mb-3">
    <p class="mr-4"><b>Repeat</b></p>

    <%= @form.select_field :frequency, frequency_options, {},
        data: { rrule_attr: 'freq', input_active: true, 
          action: 'recurring-event-rule#toggleFreqCustomizationInputsContainer ' \
                  'recurring-event-rule#toggleIntervalInputContainer ' \
                  'recurring-event-rule#toggleFreqHelperText ' \
                  'recurring-event-rule#setRule' } %>

    <div class="is-flex is-align-items-center" data-recurring-event-rule-target="intervalInputContainer">
      <p class="mx-4"><b>Every</b></p>

      <%= @form.number_field :interval, value: 1, min: 1, 
          data: { rrule_attr: 'interval', action: 'recurring-event-rule#setRule' } %>

      <p class="ml-4">
        <b>
          <span class="is-hidden" data-recurring-event-rule-target="freqHelperText" data-rrule-freq="0"></span>
          <span class="is-hidden" data-recurring-event-rule-target="freqHelperText" data-rrule-freq="1">Month (s)</span>
          <span class="is-hidden" data-recurring-event-rule-target="freqHelperText" data-rrule-freq="2">Week (s)</span>
          <span class="is-hidden" data-recurring-event-rule-target="freqHelperText" data-rrule-freq="3">Day (s)</span>
          <span class="is-hidden" data-recurring-event-rule-target="freqHelperText" data-rrule-freq="4">Hour (s)</span>
        </b>
      </p>
    </div>
  </div>

  <div class="pl-5 is-hidden"
    data-recurring-event-rule-target="freqCustomizationInputsContainer"
    data-rrule-freq="0"
  >
    <div class="is-flex is-align-items-center mb-2">
      <%= radio_button_tag("#{timestamp}_yearly_on", 1, true, checked: true, class: 'mr-1',
          data: { action: 'recurring-event-rule#toggleFreqCustomizationInputs ' \
                          'recurring-event-rule#setRule' }) %>

      <%= label_tag "#{timestamp}_yearly_on_1", 'On' %>

      <div class="is-flex is-align-items-center ml-4"
        data-recurring-event-rule-target="freqCustomizationInputs" 
        data-rrule-freq-option="yearly_on_1"
      >
        <%= @form.select_field('bymonth', bymonth_options, {},
            data: { rrule_attr: 'bymonth', action: 'recurring-event-rule#setRule' }) %>

        <%= @form.select_field('bymonthday', (1..31).map(&:to_s), {}, control_class: 'ml-4',
            data: { rrule_attr: 'bymonthday', action: 'recurring-event-rule#setRule' }) %>
      </div>
    </div>

    <div class="is-flex is-align-items-center">
      <%= radio_button_tag("#{timestamp}_yearly_on", 2, true, checked: true, class: 'mr-1',
            data: { action: 'recurring-event-rule#toggleFreqCustomizationInputs ' \
                            'recurring-event-rule#setRule' }) %>

      <%= label_tag "#{timestamp}_yearly_on_2", 'On the' %>

      <div class="is-flex is-align-items-center ml-4" 
        data-recurring-event-rule-target="freqCustomizationInputs" 
        data-rrule-freq-option="yearly_on_2"
      >
        <%= @form.select_field('bysetpos', bysetpos_options, {}, control_class: 'mr-4',
            data: { rrule_attr: 'bysetpos', action: 'recurring-event-rule#setRule' }) %>

        <%= @form.select_field('byweekday', byweekday_options, {}, control_class: 'mr-4',
            data: { rrule_attr: 'byweekday', action: 'recurring-event-rule#setRule' }) %>

        <%= @form.select_field('bymonth', bymonth_options, {},
            data: { rrule_attr: 'bymonth', action: 'recurring-event-rule#setRule' }) %>
      </div>
    </div>
  </div>

  <div class="pl-5 is-hidden"
    data-recurring-event-rule-target="freqCustomizationInputsContainer"
    data-rrule-freq="1"
  >
    <div class="is-flex is-align-items-center mb-2">
      <%= radio_button_tag("#{timestamp}_monthly_on", 1, true, checked: true, class: 'mr-1',
          data: { action: 'recurring-event-rule#toggleFreqCustomizationInputs ' \
                          'recurring-event-rule#setRule' }) %>

      <%= label_tag "#{timestamp}_monthly_on_1", 'On day' %>

      <div class="is-flex is-align-items-center ml-4"
        data-recurring-event-rule-target="freqCustomizationInputs" 
        data-rrule-freq-option="monthly_on_1"
      >
        <%= @form.select_field('bymonthday', (1..31).map(&:to_s), {},
            data: { rrule_attr: 'bymonthday', action: 'recurring-event-rule#setRule' }) %>
      </div>
    </div>

    <div class="is-flex is-align-items-center">
      <%= radio_button_tag("#{timestamp}_monthly_on", 2, true, checked: true, class: 'mr-1',
          data: { action: 'recurring-event-rule#toggleFreqCustomizationInputs ' \
                          'recurring-event-rule#setRule' }) %>

      <%= label_tag "#{timestamp}_monthly_on_2", 'On the' %>

      <div class="is-flex is-align-items-center ml-4"
        data-recurring-event-rule-target="freqCustomizationInputs"
        data-rrule-freq-option="monthly_on_2"
      >
        <%= @form.select_field('bysetpos', bysetpos_options, {}, control_class: 'mr-4',
            data: { rrule_attr: 'bysetpos', action: 'recurring-event-rule#setRule' }) %>

        <%= @form.select_field('byweekday', byweekday_options, {},
            data: { rrule_attr: 'byweekday', action: 'recurring-event-rule#setRule' }) %>
      </div>
    </div>
  </div>

  <div class="pl-5 is-hidden"
    data-recurring-event-rule-target="freqCustomizationInputsContainer"
    data-rrule-freq="2"
  >
    <%= radio_button_tag "#{timestamp}_weekly", 1, false, checked: true, class: 'is-hidden' %>
    <div class="weekday-checkboxes-container"
      data-recurring-event-rule-target="freqCustomizationInputs" 
      data-rrule-freq-option="weekly_1"
    >
      <% [['S', 6], ['M', 0], ['T', 1], ['W', 2], ['T', 3], ['F', 4], ['S', 5]].each do |day, value| %>
        <%= check_box_tag "byweekday_#{timestamp}_[]", value, false, id: "byweekday_#{timestamp}_#{day}_#{value}",
            data: { rrule_attr: 'byweekday', action: 'recurring-event-rule#setRule' } %>
        <%= label_tag "byweekday_#{timestamp}_#{day}_#{value}", day %>
      <% end %>
    </div>
  </div>

  <div class="pl-5 is-hidden"
    data-recurring-event-rule-target="freqCustomizationInputsContainer"
    data-rrule-freq="3,4"
  ></div>

  <div class="is-flex is-align-items-center mt-5">
    <p class="mr-4"><b>End</b></p>

    <%= @form.select_field :end, ending_options, {}, 
        data: { 
          recurring_event_rule_target: 'endMethodSelect', 
          action: 'recurring-event-rule#toggleEndCustomizationInputsContainer ' \
                  'recurring-event-rule#setRule'
        } %>

    <div class="is-hidden ml-4" data-recurring-event-rule-target="endCustomizationInputsContainer" data-end-value="">
    </div>

    <div class="is-hidden is-flex is-align-items-center ml-4" data-recurring-event-rule-target="endCustomizationInputsContainer" data-end-value="count">
      <%= @form.number_field :count, value: 1, min: 1,
          data: {  rrule_attr: 'count', action: 'recurring-event-rule#setRule' } %>
      <p class="ml-4"><b>ocurrence (s)</b></p>
    </div>

    <div class="is-hidden ml-4" data-recurring-event-rule-target="endCustomizationInputsContainer" data-end-value="until">
      <%= @form.date_field :until, value: 6.months.from_now.to_date, 
          data: { rrule_attr: 'until', ecurring_event_rule_target: 'untilInput', action: 'recurring-event-rule#setRule' } %>
    </div>
  </div>
<% end %>