<% actions.each do |action| %>
  <%= action %>
<% end %>
<% if @export_formats.size == 1 %>
  <%= render Bali::Link::Component.new(name: render(Bali::Icon::Component.new('download')),
      href: build_url({ format: @export_formats.last }), type: :text) %>
<% elsif @export_formats.size.positive? %>
  <%= render Bali::Dropdown::Component.new(class: 'ml-4') do |c| %>
    <% c.with_trigger(class: 'btn btn-ghost') do %>
      <%= render Bali::Icon::Component.new('download') %>
    <% end %>
    <% @export_formats.each_with_index do |export_format, index| %>
      <%= render Bali::Link::Component.new(
          name: export_format.upcase, href: build_url({ format: export_format }), class: "w-full") %>
      <%= tag.div(class: 'divider my-0') if index < @export_formats.size - 1 %>
    <% end %>
  <% end %>
<% end %>
<% if @grid_display_mode_enabled %>
  <%= tag.span('&#9474;'.html_safe, class: 'mx-2 text-base-content/30') if @export_formats.size.positive? %>
  <div class="join">
    <%= link_to build_url({ @display_mode_param_name => :table }),
        class: class_names('join-item btn btn-ghost btn-sm btn-square', 'btn-active' => @display_mode&.to_sym == :table),
        data: { turbo_action: 'replace' } do %>
      <%= render Bali::Icon::Component.new('list') %>
    <% end %>
    <%= link_to build_url({ @display_mode_param_name => :grid }),
        class: class_names('join-item btn btn-ghost btn-sm btn-square', 'btn-active' => @display_mode&.to_sym == :grid),
        data: { turbo_action: 'replace' } do %>
      <%= render Bali::Icon::Component.new('grid') %>
    <% end %>
  </div>
<% end %>
