<div class='mb-6'>
  <p class='title'>Interpolation Modes</p>

  <%= render Bali::Chart::Component.new(
      type: 'line', data: {
        labels: 13.times.map(&:to_s),
        datasets: [
          {
            label: 'Cubic interpolation (monotone)',
            data: [0, 20, 20, 60, 60, 120, nil, 180, 120, 125, 105, 110, 170],
            fill: false,
            cubicInterpolationMode: 'monotone',
            tension: 0.4
          }, {
            label: 'Cubic interpolation',
            data: [0, 20, 20, 60, 60, 120, nil, 180, 120, 125, 105, 110, 170],
            fill: false,
            tension: 0.4
          }, {
            label: 'Linear interpolation (default)',
            data: [0, 20, 20, 60, 60, 120, nil, 180, 120, 125, 105, 110, 170],
            fill: false
          }
        ]
      },
      options: {
        responsive: true,
        interaction: { intersect: false },
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Chart.js Line Chart'
          }
        },
        scales: {
          x: {
            display: true,
            title: {
              display: true
            }
          },
          y: {
            display: true,
            title: {
              display: true,
              text: 'Value'
            },
            suggestedMin: -10,
            suggestedMax: 200
          }
        }
      }
  ) %>
</div>

<div class='mb-6'>
  <p class='title'>Line Chart</p>

  <%= render Bali::Chart::Component.new(
      type: 'line', data: {
        labels: ['Jan', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul'],
        datasets: [
          {
            label: 'Dataset 1',
            data: 7.times.map { |_| [Random.rand(-100..100), Random.rand(-100..100)]},
            tension: 0
          }, {
            label: 'Dataset 2',
            data: 7.times.map { |_| [Random.rand(-100..100), Random.rand(-100..100)]},
            tension: 0
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Chart.js Line Chart'
          }
        }
      }
  ) %>
</div>

<div class='mb-6'>
  <p class='title'>Line Chart Multi Axis</p>

  <%= render Bali::Chart::Component.new(
      type: 'line', data: {
        labels: ['Jan', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul'],
        datasets: [
          {
            label: 'Dataset 1',
            data: 7.times.map { |_| [Random.rand(-100..100), Random.rand(-100..100)]},
            tension: 0,
             yAxisID: 'y',
          }, {
            label: 'Dataset 2',
            data: 7.times.map { |_| [Random.rand(-100..100), Random.rand(-100..100)]},
            tension: 0,
            yAxisID: 'y1',
          }
        ]
      },
      options: {
        responsive: true,
        interaction: { mode: 'index', intersect: false },
        stacked: false,
        plugins: {
          title: {
            display: true,
            text: 'Chart.js Line Chart'
          }
        },
        scales: {
          y: {
            type: 'linear',
            display: true,
            position: 'left',
          },
          y1: {
            type: 'linear',
            display: true,
            position: 'right',

            grid: {
              drawOnChartArea: false
            }
          }
        }
      }
  ) %>
</div>

<div class='mb-6'>
  <p class='title'>Line Chart Point Styling</p>

  <%= render Bali::Chart::Component.new(
      type: 'line', data: {
        labels: ['Jan', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul'],
        datasets: [
          {
            label: 'Dataset 1',
            data: 7.times.map { |_| [Random.rand(-100..100), Random.rand(-100..100)]},
            tension: 0,
            pointStyle: 'circle',
            pointRadius: 10,
            pointHoverRadius: 15
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Chart.js Line Chart'
          }
        }
      }
  ) %>
</div>

<div class='mb-6'>
  <p class='title'>Line Chart Stepped</p>

  <%= render Bali::Chart::Component.new(
      type: 'line', data: {
        labels: ['Jan', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul'],
        datasets: [
          {
            label: 'Dataset 1',
            data: 7.times.map { |_| [Random.rand(-100..100), Random.rand(-100..100)]},
            tension: 0,
            stepped: true
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Chart.js Line Chart'
          }
        }
      }
  ) %>
</div>

<div class='mb-6'>
  <p class='title'>Line Styling</p>

  <%= render Bali::Chart::Component.new(
      type: 'line', data: {
        labels: ['Jan', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul'],
        datasets: [
          {
            label: 'Unfilled',
            fill: false,
            data: 7.times.map { |_| [Random.rand(-100..100), Random.rand(-100..100)]},
            tension: 0
          }, {
            label: 'Dashed',
            fill: false,
            borderDash: [5, 5],
            data: 7.times.map { |_| [Random.rand(-100..100), Random.rand(-100..100)]},
            tension: 0
          }, {
            label: 'Filled',
            fill: true,
            data: 7.times.map { |_| [Random.rand(-100..100), Random.rand(-100..100)]},
            tension: 0
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Chart.js Line Chart'
          }
        },
        interaction: {
          mode: 'index',
          intersect: false
        },
        scales: {
          x: {
            display: true,
            title: {
              display: true,
              text: 'Month'
            }
          },
          y: {
            display: true,
            title: {
              display: true,
              text: 'Value'
            }
          }
        }
      }
  ) %>
</div>