<%= tag.div(**@options) do %>
  <%= trigger %>
  <ul tabindex="-1" class="<%= content_classes %>">
    <% if (authorized_items = items.select(&:authorized?)).any? %>
      <% authorized_items.each do |item| %>
        <li><%= item %></li>
      <% end %>
    <% else %>
      <%= content %>
    <% end %>
  </ul>
<% end %>
