<%= tag.div(
    'data-dropdown-hoverable-value': @hoverable,
    'data-dropdown-close-on-click-value': @close_on_click,
    **@options
) do %>
  <div class="dropdown-trigger is-flex">
    <%= trigger %>
  </div>

  <div class="dropdown-menu">
    <div class="dropdown-content">
      <% if (authorized_items = items.select(&:authorized?)).any? %>
        <% authorized_items.each_with_index do |item, index| %>
          <%= item %>
          <%= tag.div(class: 'dropdown-divider') if index < authorized_items.size - 1 %>
        <% end %>
      <% else %>
        <%= content %>
      <% end %>
    </div>
  </div>
<% end %>
