<% if @disabled %>
  <%= render Bali::HoverCard::Component.new(hover_url: @disabled_hover_url) do |c| %>
    <% c.trigger do %>
      <%= tag.a(name, disabled: true, **options) %>
    <% end %>
  <% end %>
<% else %>
  <%= button_to href, method: :delete,
                      form: {
                        data: { 'turbo-confirm': confirm }
                      },
                      form_class: @form_class,
                      **options do %>
    <%= render Bali::Icon::Component.new('trash') if icon %>
    <span><%= name %></span>
  <% end %>
<% end %>
