<%= tag.div(class: 'side-menu-component--app-component') do %>
  <% if @icon_name %>
    <%= render Bali::Icon::Component.new(@icon_name, class: 'ml-1 mr-3') %>
  <% end %>

  <div class="<%= class_names('is-fullwidth', 'ml-3': @icon_name.blank?) %>">
    <p class="has-text-weight-bold"><%= @title %> </p>
    <%= tag.p(@subtitle, class: 'is-size-7 has-text-grey') if @subtitle.present? %>
  </div>
<% end %>