<li>
  <hr class="<%= line_classes %>"/>
  <div class="<%= marker_classes %>">
    <%= render Bali::Icon::Component.new(display_icon, size: :small) %>
  </div>
  <div class="timeline-end timeline-box">
    <% if heading.present? %>
      <p class="font-semibold"><%= heading %></p>
    <% end %>
    <%= content %>
  </div>
  <hr class="<%= line_classes %>"/>
</li>
