<%= tag.div class: 'gantt-chart-row',
    data: {
      id: task.id,
      'gantt-chart-target': 'timelineRow',
      'dependent-on-id': task.dependent_on_id
    },
    style: "height: #{task.total_row_height}px" do %>
  <%= tag.div class: 'gantt-chart-cell',
              style: "left: #{task.position_left}px; width: #{task.width}px",
              data: {
                controller: 'interact',
                'interact-position-value': task.position_left,
                'interact-params-value': task.params.to_json
              } do %>

    <div class="gantt-chart-cell-content">
      <%= render Bali::Icon::Component.new('handle',
          class: 'gantt-chart-resize gantt-chart-resize-left',
          data: {
            action: 'mousedown->interact#onResizeStart',
            'interact-handle-param': 'left' }) %>

      <div class="gantt-chart-drag-handle" data-action="mousedown->interact#onDragStart"></div>

      <%= render Bali::Icon::Component.new('handle',
          class: 'gantt-chart-resize gantt-chart-resize-right',
          data: {
            action: 'mousedown->interact#onResizeStart',
            'interact-handle-param': 'right' }) %>
    </div>
  <% end %>

  <% if task.children.any? %>
    <div class="gantt-chart-timeline-children"
        data-controller="sortable-list"
        data-sortable-list-group-name-value="gantt-timeline"
        data-sortable-list-handle-value=".handle"
        data-sortable-list-list-id-value="<%= task.id %>"
        data-sortable-list-pull-value="false"
    >
      <% task.children.each do |child_task| %>
        <%= render Bali::GanttChart::TimelineRow::Component.new(task: child_task) %>
      <% end %>
    </div>
  <% end %>
<% end %>
