<%= tag.div(role: role, **options) do %>
  <% if title.present? || header? %>
    <div class="flex flex-col gap-1">
      <% if title.present? %>
        <span class="font-bold"><%= title %></span>
      <% elsif header? %>
        <%= header %>
      <% end %>
      <span><%= content %></span>
    </div>
  <% else %>
    <span><%= content %></span>
  <% end %>
  <% if dismissible? %>
    <%= render close_button %>
  <% end %>
<% end %>
