<%= tag.div(**component_options) do %>
  <% if cards? %>
    <div class="<%= CARDS_WRAPPER_CLASSES %>">
      <% cards.each do |card| %>
        <%= card %>
      <% end %>
    </div>

    <div class="<%= LOCATIONS_WRAPPER_CLASSES %>">
      <%= render_locations %>
      <%= render_map %>
    </div>
  <% else %>
    <%= render_locations %>
    <%= render_map %>
  <% end %>
<% end %>
