<%= turbo_stream.replace "data-table-movies" do %>
  <%= render Bali::DataTable::Component.new(
    filter_form: @filter_form,
    url: movies_path
  ) do |data_table| %>

    <%# Filters Panel %>
    <% data_table.with_filters_panel(
      available_attributes: available_filter_attributes,
      filter_groups: filter_groups_from_params
    ) do |filters| %>
      <% filters.with_applied_tags %>
    <% end %>

    <%# Data Table %>
    <% data_table.with_table do %>
      <%= render Bali::Table::Component.new do |table| %>
        <% table.with_header do %>
          <tr>
            <th class="w-12">ID</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Status</th>
            <th>Tenant</th>
            <th>Created</th>
          </tr>
        <% end %>

        <% @movies.each do |movie| %>
          <% table.with_row do %>
            <td><%= movie.id %></td>
            <td><%= movie.name %></td>
            <td><%= movie.genre %></td>
            <td>
              <span class="badge <%= movie.done? ? 'badge-success' : 'badge-warning' %>">
                <%= movie.status.humanize %>
              </span>
            </td>
            <td><%= movie.tenant&.name %></td>
            <td><%= movie.created_at.strftime('%Y-%m-%d') %></td>
          <% end %>
        <% end %>

        <% if @movies.empty? %>
          <% table.with_row do %>
            <td colspan="6" class="text-center py-8 text-base-content/50">
              No movies found. Try adjusting your filters.
            </td>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
