<%= tag.div **options do %>
  <%= tag.div class: 'gantt-chart-cell-content',
              style: task.milestone? ? '' : "background: linear-gradient(to right, #{task.colors_gradient})" do %>
    <% if resize_handle? %>
      <%= render Bali::Icon::Component.new('handle',
                  class: 'gantt-chart-resize gantt-chart-resize-left',
                  data: {
                    action: 'mousedown->interact#onResizeStart',
                    'interact-handle-param': 'left' }) %>
    <% end %>

    <%= render Bali::GanttChart::DragHandle::Component.new(task: task, draggable: draggable?) %>

    <% if resize_handle? %>
      <%= render Bali::Icon::Component.new('handle',
                  class: 'gantt-chart-resize gantt-chart-resize-right',
                  data: {
                    action: 'mousedown->interact#onResizeStart',
                    'interact-handle-param': 'right' }) %>
    <% end %>
  <% end %>

  <span class="right-timeline-task-name" style="left: <%= task.width + task_name_padding %>px">
    <%= task.name %>
  </span>
<% end %>
