<%= render Bali::Columns::Component.new(cols: 1, cols_tablet: 2, cols_desktop: 4, gap: :lg) do %>
  <% 8.times do |i| %>
    <%= render Bali::Card::Component.new(style: :bordered, body_class: 'p-4') do %>
      <div class="flex items-center justify-between">
        <div>
          <p class="text-sm text-base-content/60">Card <%= i + 1 %></p>
          <p class="text-xl font-bold"><%= (i + 1) * 123 %></p>
        </div>
        <%= render Bali::Icon::Component.new('box', class: 'size-6 text-primary') %>
      </div>
    <% end %>
  <% end %>
<% end %>
