<%= form_with url: @url, method: :get, builder: Bali::FormBuilder, data: { turbo_frame: "_top" } do |f| %>
  <div class="flex flex-wrap gap-3 sm:gap-4 items-center">
    <% if search_enabled? %>
      <div class="sm:min-w-52 sm:max-w-xs sm:flex-1">
        <%= tag.input(
              type: "text",
              name: @search[:field_name],
              value: @search[:value],
              placeholder: @search[:placeholder],
              class: "input input-bordered input-sm w-full"
            ) %>
      </div>
    <% end %>

    <% @filters.each do |filter| %>
      <div class="<%= toggle_group?(filter) || toggle_group_multi?(filter) ? '' : 'sm:w-auto sm:min-w-40 sm:max-w-56' %>">
        <% if toggle_group?(filter) %>
          <div class="filter">
            <% if filter[:blank].present? %>
              <% is_checked = (filter[:value] || filter[:default]).blank? %>
              <input type="radio"
                     name="<%= filter_field_name(filter) %>"
                     value=""
                     class="btn btn-sm <%= 'btn-primary' if is_checked %>"
                     aria-label="<%= filter[:blank] %>"
                     <%= "checked" if is_checked %> />
            <% end %>

            <% filter[:collection].each do |label, value| %>
              <% is_checked = (filter[:value] || filter[:default]).to_s == value.to_s %>
              <input type="radio"
                     name="<%= filter_field_name(filter) %>"
                     value="<%= value %>"
                     class="btn btn-sm <%= 'btn-primary' if is_checked %>"
                     aria-label="<%= label %>"
                     <%= "checked" if is_checked %> />
            <% end %>
          </div>
        <% elsif toggle_group_multi?(filter) %>
          <div class="filter">
            <% filter[:collection].each do |label, value| %>
              <%
                current_values = Array.wrap(filter[:value] || filter[:default]).map(&:to_s)
                is_checked = current_values.include?(value.to_s)
              %>
              <input type="checkbox"
                     name="<%= filter_field_name(filter) %>"
                     value="<%= value %>"
                     class="btn btn-sm <%= 'btn-primary' if is_checked %>"
                     aria-label="<%= label %>"
                     <%= "checked" if is_checked %> />
            <% end %>
          </div>
        <% elsif date?(filter) %>
          <%= f.date_field(
                filter_field_name(filter),
                value: filter[:value] || filter[:default],
                placeholder: filter[:placeholder] || filter[:label],
                alt_input_class: "input input-bordered input-sm w-full",
                wrapper_options: { class: "flatpickr" }
              ) %>
        <% elsif slim_select?(filter) %>
          <%= f.slim_select_field(
                filter_field_name(filter),
                filter[:collection],
                { include_blank: filter[:blank], size: :sm },
                { class: "w-full" }
              ) %>
        <% else %>
          <%= f.select(
            filter_field_name(filter),
            options_for_select(
              filter[:collection],
              filter[:value] || filter[:default]
            ),
            { include_blank: filter[:blank] },
            class: "select select-bordered select-sm w-full"
          ) %>
        <% end %>
      </div>
    <% end %>

    <div class="flex gap-2 items-center">
      <%= render Bali::Button::Component.new(
        name: apply_button_text,
        type: :submit,
        variant: :primary,
        size: :sm
      ) %>

      <% if show_clear_button? %>
        <%= render Bali::Link::Component.new(
          name: clear_button_text,
          href: @url,
          variant: :ghost,
          size: :sm
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
