<%= tag.div(**wrapper_options) do %>
  <div class="<%= item_classes %>">
    <span class="<%= caret_classes %>" data-action="click->tree-view-item#toggle" data-tree-view-item-target="caret">
      <%= render Bali::Icon::Component.new('chevron-right', size: :small) %>
    </span>
    <%= link_to name, path, title: name, class: 'flex-1 truncate hover:underline' %>
  </div>

  <% if items? %>
    <%= tag.div(role: 'group', class: children_classes, data: children_data) do %>
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
