<%= tag.div(**wrapper_options) do %>
  <div class="<%= item_classes %>">
    <%= tag.span(class: caret_classes, data: caret_data) %>
    <%= link_to name, path, title: name %>
  </div>

  <% if items? %>
    <%= tag.div(role: 'group', class: children_classes, data: children_data) do %>
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
