<%= render Bali::HoverCard::Component.new(
            open_on_click: true,
            placement: 'bottom',
            content_padding: false,
            **task.hover_card_options
) do |c| %>
  <% c.with_trigger(class: 'is-flex') do %>
    <%= render Bali::Icon::Component.new('more', class: 'gantt-chart-task-dropdown') %>
  <% end %>
  <% if task.info_action? %>
    <%= render Bali::Link::Component.new(
              name: t('.open_details'),
              icon_name: 'info-circle',
              class: 'is-flex dropdown-item',
              **task.info_action_options) %>
  <% end %>
  <% if task.complete_action? && !task.complete? %>
    <%= render Bali::Link::Component.new(
              name: t('.complete_task'),
              icon_name: 'checklist',
              class: 'is-flex dropdown-item',
              **task.complete_action_options) %>
  <% end %>
  <% if task.indent_action? && !task.first? %>
    <%= render Bali::Link::Component.new(
              name: t('.indent_task'),
              icon_name: 'indent',
              class: 'is-flex dropdown-item',
              **task.indent_action_options) %>
  <% end %>
  <% if task.outdent_action? && task.child? %>
    <%= render Bali::Link::Component.new(
              name: t('.outdent_task'),
              icon_name: 'outdent',
              class: 'is-flex dropdown-item',
              **task.outdent_action_options) %>
  <% end %>
  <% if task.delete_action? %>
    <div class="dropdown-divider"></div>
    <%= render Bali::Link::Component.new(
              name: t('.delete_task'),
              icon_name: 'trash',
              class: 'is-flex dropdown-item has-text-danger',
              **task.delete_action_options) %>
  <% end %>
<% end %>
