<%= render Bali::HoverCard::Component.new(
            open_on_click: true,
            placement: 'bottom',
            content_padding: false,
            **task.hover_card_options
) do |c| %>
  <% c.with_trigger(class: 'flex') do %>
    <%= render Bali::Icon::Component.new('more', class: 'gantt-chart-task-dropdown') %>
  <% end %>
  <% if task.action?(:info) %>
    <%= render Bali::Link::Component.new(
              name: t('.open_details'),
              icon_name: 'info-circle',
              class: 'flex w-full px-4 py-2 hover:bg-base-200',
              **task.action_options(:info)) %>
  <% end %>
  <% if task.action?(:complete) && !task.complete? %>
    <%= render Bali::Link::Component.new(
              name: t('.complete_task'),
              icon_name: 'checklist',
              class: 'flex w-full px-4 py-2 hover:bg-base-200',
              **task.action_options(:complete)) %>
  <% end %>
  <% if task.action?(:indent) && !task.first? %>
    <%= render Bali::Link::Component.new(
              name: t('.indent_task'),
              icon_name: 'indent',
              class: 'flex w-full px-4 py-2 hover:bg-base-200',
              **task.action_options(:indent)) %>
  <% end %>
  <% if task.action?(:outdent) && task.child? %>
    <%= render Bali::Link::Component.new(
              name: t('.outdent_task'),
              icon_name: 'outdent',
              class: 'flex w-full px-4 py-2 hover:bg-base-200',
              **task.action_options(:outdent)) %>
  <% end %>
  <% if task.action?(:delete) %>
    <div class="divider my-0"></div>
    <%= render Bali::Link::Component.new(
              name: t('.delete_task'),
              icon_name: 'trash',
              class: 'flex w-full px-4 py-2 hover:bg-base-200 text-error',
              **task.action_options(:delete)) %>
  <% end %>
<% end %>
