<%= render Bali::DataTable::Component.new(filter_form: form, url: '#') do |c| %>
  <% c.with_filters_panel(text_field: :name, opened: false) do %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <%= render Bali::Filters::Attribute::Component.new(form: form, title: 'Name', attribute: :name_eq) %>
      </div>

      <div>
        <%= render Bali::Filters::Attribute::Component.new(form: form,title: 'Age', attribute: :age_eq) %>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <div>
        <%= render Bali::Filters::Attribute::Component.new(form: form,title: 'Age', attribute: :age_gteq, display: :flex) %>
      </div>

      <div>
        <%= render Bali::Filters::Attribute::Component.new(form: form,title: 'Age', attribute: :age_lteq, display: :flex) %>
      </div>
    </div>

    <div class="mb-5">
      <%= render Bali::Filters::Attribute::Component.new(form: form, title: 'Name', attribute: :name_matches_any) %>
    </div>

    <%= render Bali::Filters::Attribute::Component.new(form: form,title: 'Cookies accepted', attribute: :cookies_accepted_true) %>
    <%= render Bali::Filters::Attribute::Component.new(form: form,title: 'Privacy accepted', attribute: :privacy_accepted_true) %>
    <%= render Bali::Filters::Attribute::Component.new(form: form,title: 'Terms accepted', attribute: :terms_accepted_true) %>

    <%= render Bali::Filters::Attribute::Component.new(form: form,
        title: 'Status',
        attribute: :status_in,
        collection_options: [['active', true], ['inactive', false]]) %>
  <% end %>
  <% c.with_table do %>
    <%= render Bali::Table::Component.new do |ct| %>
      <%= ct.with_headers(headers) %>
      <% records.each do |record| %>
        <%= ct.with_row do %>
          <td><%= record[:name] %></td>
          <td><%= record[:amount] %></td>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
