<%= render Bali::DataTable::Component.new(filter_form: form, url: '#') do |c| %>
  <% c.with_filters_panel(text_field: :name, opened: false) do |fp| %>
    <% fp.with_attribute(
       title: 'Status',
       attribute: :status_in,
       collection_options: [['active', true], ['inactive', false]]) %>

    <%= fp.with_attribute(title: 'Name', attribute: :name_eq) %>
    <%= fp.with_attribute(title: 'Age', attribute: :age_gteq) %>

    <%= fp.with_attribute(title: 'Age', attribute: :age_gteq, display: :flex) %>
    <%= fp.with_attribute(title: 'Age', attribute: :age_gteq, display: :flex) %>
    <%= fp.with_attribute(title: 'Cookies accepted', attribute: :cookies_accepted_true) %>
    <%= fp.with_attribute(title: 'Privacy accepted', attribute: :privacy_accepted_true) %>
    <%= fp.with_attribute(title: 'Terms accepted', attribute: :terms_accepted_true) %>
  <% end %>
  <%= c.with_summary { summary } if local_assigns[:summary] %>
  <% c.with_table do %>
    <%= render Bali::Table::Component.new do |ct| %>
      <%= ct.with_headers(headers) %>
      <% records.each do |record| %>
        <%= ct.with_row do %>
          <td><%= record[:name] %></td>
          <td><%= record[:amount] %></td>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
