<button type="button"
        data-command-target="row"
        data-mode="<%= mode %>"
        <%= "data-href=\"#{href}\"".html_safe if href %>
        data-search="<%= search.downcase %>"
        data-action="click->command#select"
        class="cmd-row">
  <% if icon %>
    <span class="cmd-row-ic">
      <%= render Bali::Icon::Component.new(icon, class: 'size-3.5') %>
    </span>
  <% end %>
  <span class="cmd-row-body">
    <span class="cmd-row-title"><%= title %></span>
    <% if meta %>
      <span class="cmd-row-meta"><%= meta %></span>
    <% end %>
  </span>
  <span class="cmd-row-hint"><span class="cmd-kbd">⏎</span></span>
</button>
