<%= tag.div(**@options, disabled: @disabled) do %>
  <%= @form.hidden_field @method, value: @value, data: { recurrent_event_rule_target: 'input' },
      disabled: @disabled %>

  <div class="is-flex is-align-items-center mb-3">
    <p class="mr-4"><b><%= t('.repeat') %></b></p>

    <div class="control">
      <div class="select">
        <%= select_tag :freq, options_for_select(frequency_options), disabled: @disabled,
            data: { rrule_attr: 'freq', input_active: true, 
            action: 'recurrent-event-rule#toggleFreqCustomizationInputsContainer ' \
                    'recurrent-event-rule#toggleIntervalInputContainer ' \
                    'recurrent-event-rule#toggleFreqHelperText ' \
                    'recurrent-event-rule#setRule' } %>
      </div>
    </div>

    <div class="is-flex is-align-items-center" data-recurrent-event-rule-target="intervalInputContainer">
      <p class="mx-4"><b><%= t('.every') %></b></p>

      <div class="control">
        <%= number_field_tag :interval, 1, min: 1, class: 'input', disabled: @disabled,
            data: {  rrule_attr: 'interval', action: 'recurrent-event-rule#setRule' } %>
      </div>

      <p class="ml-4">
        <b>
          <span class="is-hidden" data-recurrent-event-rule-target="freqHelperText" data-rrule-freq="0"></span>
          <span class="is-hidden" data-recurrent-event-rule-target="freqHelperText" data-rrule-freq="1"><%= t('.month_s') %></span>
          <span class="is-hidden" data-recurrent-event-rule-target="freqHelperText" data-rrule-freq="2"><%= t('.week_s') %></span>
          <span class="is-hidden" data-recurrent-event-rule-target="freqHelperText" data-rrule-freq="3"><%= t('.day_s') %></span>
          <span class="is-hidden" data-recurrent-event-rule-target="freqHelperText" data-rrule-freq="4"><%= t('.hour_s') %></span>
        </b>
      </p>
    </div>
  </div>

  <div class="pl-5 is-hidden"
    data-recurrent-event-rule-target="freqCustomizationInputsContainer"
    data-rrule-freq="0"
  >
    <div class="is-flex is-align-items-center mb-2">
      <%= radio_button_tag("#{timestamp}_yearly_on", 1, true, checked: true, class: 'mr-1', disabled: @disabled,
          data: { action: 'recurrent-event-rule#toggleFreqCustomizationInputs ' \
                          'recurrent-event-rule#setRule' }) %>

      <%= label_tag "#{timestamp}_yearly_on_1", t('.on_option'), disabled: @disabled %>

      <div class="is-flex is-align-items-center ml-4"
        data-recurrent-event-rule-target="freqCustomizationInputs" 
        data-rrule-freq-option="yearly_on_1"
      >
        <div class="control">
          <div class="select">
            <%= select_tag :bymonth, options_for_select(bymonth_options), disabled: @disabled,
                data: { rrule_attr: 'bymonth', action: 'recurrent-event-rule#setRule' } %>
          </div>
        </div>

        <div class="control ml-4">
          <div class="select">
            <%= select_tag :bymonthday, options_for_select((1..31).map(&:to_s)), 
                data: { rrule_attr: 'bymonthday', action: 'recurrent-event-rule#setRule' } %>
          </div>
        </div>
      </div>
    </div>

    <div class="is-flex is-align-items-center">
      <%= radio_button_tag("#{timestamp}_yearly_on", 2, true, checked: true, class: 'mr-1', disabled: @disabled,
            data: { action: 'recurrent-event-rule#toggleFreqCustomizationInputs ' \
                            'recurrent-event-rule#setRule' }) %>

      <%= label_tag "#{timestamp}_yearly_on_2", t('.on_the'), disabled: @disabled %>

      <div class="is-flex is-align-items-center ml-4" 
        data-recurrent-event-rule-target="freqCustomizationInputs" 
        data-rrule-freq-option="yearly_on_2"
      >
        <div class="control mr-4">
          <div class="select">
            <%= select_tag :bysetpos, options_for_select(bysetpos_options), disabled: @disabled,
                data: { rrule_attr: 'bysetpos', action: 'recurrent-event-rule#setRule' } %>
          </div>
        </div>

        <div class="control mr-4">
          <div class="select">
            <%= select_tag :byweekday, options_for_select(byweekday_options), disabled: @disabled,
              data: { rrule_attr: 'byweekday', action: 'recurrent-event-rule#setRule' } %>
          </div>
        </div>

        <div class="control">
          <div class="select">
            <%= select_tag :bymonth, options_for_select(bymonth_options), disabled: @disabled,
                data: { rrule_attr: 'bymonth', action: 'recurrent-event-rule#setRule' } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pl-5 is-hidden"
    data-recurrent-event-rule-target="freqCustomizationInputsContainer"
    data-rrule-freq="1"
  >
    <div class="is-flex is-align-items-center mb-2">
      <%= radio_button_tag("#{timestamp}_monthly_on", 1, true, checked: true, class: 'mr-1', disabled: @disabled,
          data: { action: 'recurrent-event-rule#toggleFreqCustomizationInputs ' \
                          'recurrent-event-rule#setRule' }) %>

      <%= label_tag "#{timestamp}_monthly_on_1", t('.on_day'), disabled: @disabled %>

      <div class="is-flex is-align-items-center ml-4"
        data-recurrent-event-rule-target="freqCustomizationInputs" 
        data-rrule-freq-option="monthly_on_1"
      >
        <div class="control">
          <div class="select">
            <%= select_tag :bymonthday, options_for_select((1..31).map(&:to_s)), disabled: @disabled,
                data: { rrule_attr: 'bymonthday', action: 'recurrent-event-rule#setRule' } %>

          </div>
        </div>
      </div>
    </div>

    <div class="is-flex is-align-items-center">
      <%= radio_button_tag("#{timestamp}_monthly_on", 2, true, checked: true, class: 'mr-1', disabled: @disabled,
          data: { action: 'recurrent-event-rule#toggleFreqCustomizationInputs ' \
                          'recurrent-event-rule#setRule' }) %>

      <%= label_tag "#{timestamp}_monthly_on_2", t('.on_the'), disabled: @disabled %>

      <div class="is-flex is-align-items-center ml-4"
        data-recurrent-event-rule-target="freqCustomizationInputs"
        data-rrule-freq-option="monthly_on_2"
      >
        <div class="control mr-4">
          <div class="select">
            <%= select_tag :bysetpos, options_for_select(bysetpos_options), disabled: @disabled,
                data: { rrule_attr: 'bysetpos', action: 'recurrent-event-rule#setRule' } %>

          </div>
        </div>

        <div class="control">
          <div class="select">
            <%= select_tag :byweekday, options_for_select(byweekday_options), disabled: @disabled,
                data: { rrule_attr: 'byweekday', action: 'recurrent-event-rule#setRule' } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pl-5 is-hidden"
    data-recurrent-event-rule-target="freqCustomizationInputsContainer"
    data-rrule-freq="2"
  >
    <%= radio_button_tag "#{timestamp}_weekly", 1, false, checked: true, class: 'is-hidden' %>
    <div class="weekday-checkboxes-container"
      data-recurrent-event-rule-target="freqCustomizationInputs" 
      data-rrule-freq-option="weekly_1"
    >
      <% I18n.t('date.day_names').each_with_index do |day, index| %>
        <% value = index.zero? ? 6 : index - 1 %>
        <%= check_box_tag "byweekday_#{timestamp}_[]", value, false, id: "byweekday_#{timestamp}_#{value}", disabled: @disabled,
            data: { rrule_attr: 'byweekday', action: 'recurrent-event-rule#setRule' } %>
        <%= label_tag "byweekday_#{timestamp}_#{value}", day.first, disabled: @disabled %>
      <% end %>
    </div>
  </div>

  <div class="pl-5 is-hidden"
    data-recurrent-event-rule-target="freqCustomizationInputsContainer"
    data-rrule-freq="3,4"
  ></div>

  <div class="<%= class_names('is-flex is-align-items-center mt-5', 'is-hidden': @skip_end_method) %>">
    <p class="mr-4"><b><%= t('.end') %></b></p>

    <div class="control">
      <div class="select">
        <%= select_tag :end, options_for_select(ending_options), disabled: @disabled,
          data: { 
            recurrent_event_rule_target: 'endMethodSelect', 
            action: 'recurrent-event-rule#toggleEndCustomizationInputsContainer ' \
                    'recurrent-event-rule#setRule'
          } %>
      </div>
    </div>

    <div class="is-hidden ml-4" data-recurrent-event-rule-target="endCustomizationInputsContainer" data-end-value="">
    </div>

    <div class="is-hidden is-flex is-align-items-center ml-4" data-recurrent-event-rule-target="endCustomizationInputsContainer" data-end-value="count">
      <div class="control">
        <%= number_field_tag :count, 1, min: 1, class: 'input', disabled: @disabled,
            data: { rrule_attr: 'count', action: 'recurrent-event-rule#setRule' } %>
      </div>
      <p class="ml-4"><b><%= t('.ocurrence_s') %></b></p>
    </div>

    <div class="is-hidden ml-4" data-recurrent-event-rule-target="endCustomizationInputsContainer" data-end-value="until">
      <div class="control">
        <%= date_field_tag :until, 6.months.from_now.to_date, class: 'input', disabled: @disabled,
            data: { rrule_attr: 'until', recurrent_event_rule_target: 'untilInput', action: 'recurrent-event-rule#setRule' } %>
      </div>
    </div>
  </div>
<% end %>