<div class="header mb-4">
  <div class="columns is-mobile is-gapless">
    <div class="coulum is-narrow">
      <% if route_name.present? %>
        <%= link_to render(Bali::Icon::Component.new('arrow-left')), polymorphic_path(route_name, extra_params(:prev)), class: 'button', title: 'previous' %>
      <% end %>
    </div>

    <div class="column has-text-centered">
      <h3 class="title is-3 is-inline">
        <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
      </h3>
      <% if period_switch && route_name.present? %>
        <%= link_to 'Semana', polymorphic_path(route_name, extra_params(:week)), class: class_names('button is-primary ml-3', unselected: period == :month) %>

        <%= link_to 'Mes', polymorphic_path(route_name, extra_params(:month)), class: class_names('button is-primary ml-3', unselected: period == :week) %>
      <% end %>
    </div>

    <div class="column is-narrow">
      <% if route_name.present? %>
        <%= link_to render(Bali::Icon::Component.new('arrow-right')), polymorphic_path(route_name, extra_params(:next)), class: 'button', title: 'next' %>
      <% end %>
    </div>
  </div>
</div>
