<div class="header mb-4">
  <%= render(Bali::Columns::Component.new(class: 'is-mobile is-gapless')) do |c| %>
    <%= c.with_column(class: 'is-narrow') do %>
      <% if route_path.present? %>
        <%= link_to render(Bali::Icon::Component.new('arrow-left')), route(extra_params(:prev)), class: 'button', title: 'previous' %>
      <% end %>
    <% end %>
    <%= c.with_column(class: 'has-text-centered') do %>
      <h3 class="title is-3 is-inline">
        <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
      </h3>
      <% if period_switch && route_path.present? %>
        <%= link_to t('view_components.bali.calendar.header.week'), route(extra_params(:week)), class: class_names('button is-primary ml-3', unselected: period == :month) %>
        <%= link_to t('view_components.bali.calendar.header.month'), route(extra_params(:month)), class: class_names('button is-primary ml-3', unselected: period == :week) %>
      <% end %>
    <% end %>
    <%= c.with_column(class: 'is-narrow') do %>
      <% if route_path.present? %>
        <%= link_to render(Bali::Icon::Component.new('arrow-right')), route(extra_params(:next)), class: 'button', title: 'next' %>
      <% end %>
    <% end %>
  <% end %>
</div>
