<div class="header mb-4">

  <%= render(Bali::Columns::Component.new(class: 'is-mobile is-gapless')) do |c| %>
    <%= c.column(class: 'is-narrow') do %>
      <% if route_name.present? %>
        <%= link_to render(Bali::Icon::Component.new('arrow-left')), polymorphic_path(route_name, extra_params(:prev)), class: 'button', title: 'previous' %>
      <% end %>
    <% end %>

    <%= c.column(class: 'has-text-centered') do %>
      <h3 class="title is-3 is-inline">
        <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
      </h3>
      <% if period_switch && route_name.present? %>
        <%= link_to 'Semana', polymorphic_path(route_name, extra_params(:week)), class: class_names('button is-primary ml-3', unselected: period == :month) %>
        <%= link_to 'Mes', polymorphic_path(route_name, extra_params(:month)), class: class_names('button is-primary ml-3', unselected: period == :week) %>
      <% end %>
    <% end %>

    <%= c.column(class: 'is-narrow') do %>
      <% if route_name.present? %>
        <%= link_to render(Bali::Icon::Component.new('arrow-right')), polymorphic_path(route_name, extra_params(:next)), class: 'button', title: 'next' %>
      <% end %>
    <% end %>
  <% end %>
</div>
