<%= tag.div(**options) do %>
  <div class="gantt-chart-list">
    <div class="gantt-chart-header">
      Name
    </div>

    <div class="gantt-chart-data"
         data-controller="sortable-list reveal"
         data-sortable-list-group-name-value="gantt"
         data-sortable-list-handle-value=".handle"
    >
      <% tasks.each do |task| %>
        <%= tag.div class: 'gantt-chart-row', data: { id: task.id, 'sortable-update-url': task.update_url } do %>
          <%= render Bali::Icon::Component.new('handle', class: 'handle') %>
          <%= render Bali::Icon::Component.new('chevron-down', class: 'chevron-down', data: { action: 'click->reveal#toggle' }) if task.children.any? %>
          <%= tag.div task.name, class: class_names('task-name', children: task.children.any?) %>
        <% end %>

        <% if task.children.any? %>
          <div class="level-1" data-reveal-target="item">
            <div data-controller="sortable-list reveal"
               data-sortable-list-group-name-value="gantt"
               data-sortable-list-handle-value=".handle"
            >
              <% task.children.each do |task| %>
                <%= tag.div class: 'gantt-chart-row', data: { id: task.id, 'sortable-update-url': task.update_url } do %>
                  <%= render Bali::Icon::Component.new('handle', class: 'handle') %>
                  <%= render Bali::Icon::Component.new('chevron-down', class: 'chevron-down', data: { action: 'click->reveal#toggle' }) if task.children.any? %>
                  <%= tag.div task.name, class: class_names('task-name', children: task.children.any?) %>
                <% end %>

                <% if task.children.any? %>
                  <div class="level-2" data-controller="sortable-list" data-sortable-list-group-name-value="gantt">
                    <% task.children.each do |task| %>
                      <%= tag.div class: 'gantt-chart-row', data: { id: task.id, 'sortable-update-url': task.update_url } do %>
                        <div class="task-name"><%= task.name %></div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="gantt-chart-timeline">
    <div class="gantt-chart-header">
      <div class="gantt-chart-scale-line top-line">
        <% days_by_month.each do |month_number, dates| %>
          <div class="gantt-chart-header-month" style="width: <%= dates.size * COLUMN_WIDTH %>px">
            <%= I18n.t("date.month_names")[month_number] %>
          </div>
        <% end %>
      </div>

      <div class="gantt-chart-scale-line">
        <% days_by_month.each do |month_number, dates| %>
          <% dates.each do |date| %>
            <div class="gantt-chart-header-day">
              <%= date.day %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="gantt-chart-data-area"
         data-controller="sortable-list"
         data-sortable-list-disabled-value="true"
         data-gantt-chart-target="timeline"
         style="width: <%= duration * COLUMN_WIDTH %>px"
    >
      <% tasks.each do |task| %>
        <%= tag.div class: 'gantt-chart-row', data: { id: task.id } do %>
          <%= tag.div class: 'gantt-chart-cell',
                      style: "left: #{task.position_left}px; width: #{task.width}px",
                      data: {
                        controller: 'interact',
                        'interact-position-value': task.position_left,
                        'interact-params-value': task.params.to_json
                      } do %>

            <div class="gantt-chart-cell-content">
              <%= render Bali::Icon::Component.new('handle',
                  class: 'gantt-chart-resize gantt-chart-resize-left',
                  data: {
                    action: 'mousedown->interact#onResizeStart',
                    'interact-handle-param': 'left' }) %>

              <div class="gantt-chart-drag-handle" data-action="mousedown->interact#onDragStart"></div>

              <%= render Bali::Icon::Component.new('handle',
                  class: 'gantt-chart-resize gantt-chart-resize-right',
                  data: {
                    action: 'mousedown->interact#onResizeStart',
                    'interact-handle-param': 'right' }) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
