<%= tag.div(**options) do %>
  <div class="gantt-chart-list">
    <div class="gantt-chart-header">
      Name
    </div>

    <div class="gantt-chart-data"
         data-controller="sortable-list"
         data-sortable-list-group-name-value="gantt"
         data-sortable-list-handle-value=".handle"
    >
      <% tasks.each do |task| %>
        <%= tag.div class: 'gantt-chart-row',
            data: {
              id: task.id,
              controller: 'gantt-foldable-item',
              'gantt-foldable-item-child-count-value': task.child_count,
              'sortable-update-url': task.update_url
            },
            style: "height: #{task.row_height}px" do %>
          <div class="gantt-chart-row-contents">
            <%= render Bali::Icon::Component.new('handle', class: 'handle') %>
            <%= render Bali::Icon::Component.new('chevron-down', class: 'chevron-down', data: { action: 'click->gantt-foldable-item#toggle' }) if task.children.any? %>
            <%= tag.div task.name, class: class_names('task-name', children: task.children.any?) %>
          </div>

          <% if task.children.any? %>
            <div class="level-1" data-gantt-foldable-item-target="item">
              <div data-controller="sortable-list gantt-foldable-item"
               data-sortable-list-group-name-value="gantt"
               data-sortable-list-handle-value=".handle"
            >
                <% task.children.each do |task| %>
                  <%= tag.div class: 'gantt-chart-row', data: { id: task.id, 'sortable-update-url': task.update_url } do %>
                    <div class="gantt-chart-row-contents">
                      <%= render Bali::Icon::Component.new('handle', class: 'handle') %>
                      <%= render Bali::Icon::Component.new('chevron-down', class: 'chevron-down', data: { action: 'click->gantt-foldable-item#toggle' }) if task.children.any? %>
                      <%= tag.div task.name, class: class_names('task-name', children: task.children.any?) %>
                    </div>
                  <% end %>

                  <% if task.children.any? %>
                    <div class="level-2" data-controller="sortable-list" data-sortable-list-group-name-value="gantt">
                      <% task.children.each do |task| %>
                        <%= tag.div class: 'gantt-chart-row', data: { id: task.id, 'sortable-update-url': task.update_url } do %>
                          <div class="task-name"><%= task.name %></div>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="gantt-chart-timeline">
    <div class="gantt-chart-header">
      <div class="gantt-chart-scale-line top-line">
        <% days_by_month.each do |month_number, dates| %>
          <div class="gantt-chart-header-month" style="width: <%= dates.size * COLUMN_WIDTH %>px">
            <%= I18n.t("date.month_names")[month_number] %>
          </div>
        <% end %>
      </div>

      <div class="gantt-chart-scale-line">
        <% days_by_month.each do |month_number, dates| %>
          <% dates.each do |date| %>
            <div class="gantt-chart-header-day">
              <%= date.day %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="gantt-chart-data-area"
         data-controller="sortable-list"
         data-sortable-list-disabled-value="true"
         data-gantt-chart-target="timeline"
         style="width: <%= duration * COLUMN_WIDTH %>px"
    >
      <% tasks.each do |task| %>
        <%= render Bali::GanttChart::TimelineRow::Component.new(task: task) %>
      <% end %>
    </div>
  </div>
<% end %>
