<%= tag.div(**options) do %>
  <div class="gantt-chart-list">
    <div class="gantt-chart-header">
      Name
    </div>

    <div class="gantt-chart-data"
         data-controller="sortable-list"
         data-sortable-list-group-name-value="gantt"
         data-sortable-list-handle-value=".handle"
         data-sortable-list-list-id-value="0"
    >
      <% tasks.each do |task| %>
        <%= render Bali::GanttChart::ListRow::Component.new(task: task) %>
      <% end %>
    </div>
  </div>

  <div class="gantt-chart-timeline" data-gantt-chart-target="timeline">
    <div class="gantt-chart-header">
      <div class="gantt-chart-scale-line top-line">
        <% days_by_month.each do |month_number, dates| %>
          <div class="gantt-chart-header-month" style="width: <%= dates.size * col_width %>px">
            <%= I18n.t("date.month_names")[month_number] %>
          </div>
        <% end %>
      </div>

      <div class="gantt-chart-scale-line">
        <% days_by_month.each do |month_number, dates| %>
          <% dates.each do |date| %>
            <div class="gantt-chart-header-day">
              <%= date.day %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="gantt-chart-data-area"
         data-controller="sortable-list"
         data-sortable-list-group-name-value="timeline"
         data-sortable-list-disabled-value="true"
         data-sortable-list-list-id-value="0"
         data-sortable-list-pull-value="false"
         style="width: <%= duration * col_width %>px"
    >
      <% tasks.each do |task| %>
        <%= render Bali::GanttChart::TimelineRow::Component.new(task: task) %>
      <% end %>
    </div>
  </div>
<% end %>
