<%= tag.div(**options) do %>
  <div class="gantt-chart-list">
    <div class="gantt-chart-header">
      <%= t('.task_header') %>
    </div>

    <div class="gantt-chart-data"
         data-controller="sortable-list"
         data-sortable-list-group-name-value="gantt"
         data-sortable-list-handle-value=".handle"
         data-sortable-list-list-id-value="0"
         data-gantt-chart-target="list"
    >
      <% tasks.each do |task| %>
        <%= render Bali::GanttChart::ListRow::Component.new(task: task, readonly: readonly) %>
      <% end %>
    </div>
  </div>

  <div class="gantt-chart-timeline" data-gantt-chart-target="timeline">
    <%= render Bali::GanttChart::TimelineHeader::Component.new(
               start_date: start_date, end_date: end_date, col_width: col_width, zoom: zoom) %>

    <div class="gantt-chart-data-area"
         data-controller="sortable-list"
         data-sortable-list-group-name-value="timeline"
         data-sortable-list-disabled-value="true"
         data-sortable-list-list-id-value="0"
         data-sortable-list-pull-value="false"
         style="width: <%= duration * col_width %>px"
    >
      <% tasks.each do |task| %>
        <%= render Bali::GanttChart::TimelineRow::Component.new(task: task, readonly: readonly) %>
      <% end %>
    </div>
  </div>
<% end %>
