<%= tag.div **@options do %>
  <%= tag.div class: class_names('tabs', @tabs_class) do %>
    <ul>
      <% tabs.each_with_index do |tab, index| %>
        <%= render Bali::Tabs::Trigger::Component.new(tab, index)  %>
      <% end %>
    </ul>
  <% end %>

  <div class="tabs-content">
    <% tabs.each_with_index do |tab, index| %>
      <%= tag.div **tab.options, data: {
            'tabs-target': 'tabContent',
            'tabs-index-param': index } do %>
        <%= tab %>
      <% end %>
    <% end %>
  </div>
<% end %>
