<%= tag.div **@options do %>
  <%= tag.div class: class_names('tabs', @tabs_class) do %>
    <ul>
      <% tabs.each_with_index do |tab, index| %>
        <%= tag.li data: { 'tabs-target': 'tab',
                           'tabs-index-param': index,
                           'tabs-src-param': tab.src,
                           'tabs-reload-param': tab.reload,
                            action: 'click->tabs#open' },
                   class: class_names('is-active': tab.active) do %>

          <%= tag.a do %>
            <%= render Bali::Icon::Component.new(tab.icon) if tab.icon %>
            <%= tag.span { tab.title } %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <div class="tabs-content">
    <% tabs.each_with_index do |tab, index| %>
      <%= tag.div **tab.options, data: {
            'tabs-target': 'tabContent',
            'tabs-index-param': index } do %>
        <%= tab %>
      <% end %>
    <% end %>
  </div>
<% end %>
