<%= tag.div **options do %>
  <div role="tablist" class="<%= tabs_classes %>">
    <% tabs.each_with_index do |tab, index| %>
      <%= render Bali::Tabs::Trigger::Component.new(tab, index) %>
    <% end %>
  </div>
  <div class="tabs-content bg-base-100 p-4">
    <% tabs.each_with_index do |tab, index| %>
      <%= tag.div **tab.options,
            id: "tabpanel-#{index}",
            role: 'tabpanel',
            'aria-labelledby': "tab-#{index}",
            tabindex: 0,
            data: {
              'tabs-target': 'tabContent',
              'tabs-index-param': index
            } do %>
        <%= tab %>
      <% end %>
    <% end %>
  </div>
<% end %>
