<li>
  <% unless subitems? %>
    <%= render Bali::Link::Component.new(
        name: @name, href: @href, icon_name: @icon, active_path: @current_path,
        active: @active, class: item_classes, **link_options) %>
    <%= render Bali::Tooltip::Component.new(class: 'side-menu-component--item-component is-collapsed') do |tooltip| %>
      <% tooltip.with_trigger do %>
        <%= render Bali::Link::Component.new(
            name: @name, href: @href, icon_name: @icon, active_path: @current_path,
            active: @active, class: @link_class, **link_options) %>
      <% end %>
      <%= @name %>
    <% end %>
  <% else %>
    <details <%= 'open' if active? %>>
      <summary>
        <% if @icon.present? %>
          <%= render Bali::Icon::Component.new(@icon, class: 'w-5 h-5') %>
        <% end %>
        <%= @name %>
      </summary>
      <ul>
        <% if @href.present? %>
          <li>
            <a href="<%= @href %>" class="<%= 'active' if @active %>">
              <%= @name %>
            </a>
          </li>
        <% end %>
        <% items.each do |item| %>
          <%= item %>
        <% end %>
      </ul>
    </details>
  <% end %>
</li>
