<% if subitems? %>
  <% if expandable_mode? %>
    <%# Expandable mode: DaisyUI collapse with checkbox %>
    <%# Expanded state %>
    <div class="collapse side-menu-expanded">
      <input type="checkbox" aria-label="<%= toggle_label %>" class="peer"
             <%= 'checked' if active? %> />
      <div class="<%= collapse_title_classes %>">
        <%= render_icon %>
        <span class="grow"><%= name %></span>
        <%= render_badge %>
        <%= render Bali::Icon::Component.new('chevron-right', class: 'size-3.5 arrow-icon') %>
      </div>
      <div class="collapse-content ms-6.5 !p-0">
        <div class="mt-0.5 space-y-0.5">
          <%= render_parent_link(in_accordion: true) %>
          <% items.each do |item| %>
            <%= item %>
          <% end %>
        </div>
      </div>
    </div>
    <%# Collapsed state: hover flyout exposing children to the right of
        the rail. %>
    <div class="<%= flyout_classes %>" data-controller="side-menu-flyout">
      <%= render_flyout_trigger %>
      <ul tabindex="0"
          class="dropdown-content menu bg-base-100 rounded-box z-50 w-56 p-2 shadow-lg"
          data-side-menu-flyout-target="panel"
          data-action="keydown->side-menu-flyout#panelKeydown">
        <li class="menu-title px-2 pb-1 text-xs font-semibold uppercase tracking-wider text-base-content/50">
          <%= name %>
        </li>
        <%= render_parent_link %>
        <% items.each do |item| %>
          <li><%= render_subitem_link(item) %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%# Dropdown mode: DaisyUI dropdown on hover %>
    <div class="dropdown dropdown-right dropdown-hover">
      <div tabindex="0" role="button" class="<%= menu_item_classes %>">
        <%= render_icon %>
        <span class="grow"><%= name %></span>
        <%= render_badge %>
        <%= render Bali::Icon::Component.new('chevron-right', class: 'size-3.5') %>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-50 w-48 p-2 shadow-lg">
        <%= render_parent_link %>
        <% items.each do |item| %>
          <li><%= render_subitem_link(item) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <%# Simple item: expanded and collapsed versions %>
  <%# Expanded state %>
  <%= tag.a(href: href.presence || '#', class: "#{menu_item_classes} side-menu-expanded", disabled: disabled? ? 'disabled' : nil, target: target, rel: rel, **@options) do %>
    <%= render_icon %>
    <span class="grow"><%= content || name %></span>
    <%= render_badge %>
  <% end %>
  <%# Collapsed state: icon with tooltip %>
  <%= render_collapsed_tooltip %>
<% end %>
