<% if subitems? %>
  <% if expandable_mode? %>
    <%# Expandable mode: DaisyUI collapse with checkbox %>
    <%# Expanded state %>
    <div class="collapse side-menu-expanded">
      <input type="checkbox" aria-label="<%= toggle_label %>" class="peer"
             <%= 'checked' if active? %> />
      <div class="<%= collapse_title_classes %>">
        <%= render_icon %>
        <span class="grow"><%= name %></span>
        <%= render_badge %>
        <%= render Bali::Icon::Component.new('chevron-right', class: 'size-3.5 arrow-icon') %>
      </div>
      <div class="collapse-content ms-6.5 !p-0">
        <div class="mt-0.5 space-y-0.5">
          <% if href.present? %>
            <%= tag.a(href: href, class: class_names("menu-item", "active" => active? && !active_child_items?), target: target, rel: rel) do %>
              <span class="grow"><%= name %></span>
            <% end %>
          <% end %>
          <% items.each do |item| %>
            <%= item %>
          <% end %>
        </div>
      </div>
    </div>
    <%# Collapsed state: icon with tooltip %>
    <%= render_collapsed_tooltip %>
  <% else %>
    <%# Dropdown mode: DaisyUI dropdown on hover %>
    <div class="dropdown dropdown-right dropdown-hover">
      <div tabindex="0" role="button" class="<%= menu_item_classes %>">
        <%= render_icon %>
        <span class="grow"><%= name %></span>
        <%= render_badge %>
        <%= render Bali::Icon::Component.new('chevron-right', class: 'size-3.5') %>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-50 w-48 p-2 shadow-lg">
        <% if href.present? %>
          <li>
            <%= tag.a(href: href, class: class_names("active" => active? && !active_child_items?), target: target, rel: rel) do %>
              <%= name %>
            <% end %>
          </li>
        <% end %>
        <% items.each do |item| %>
          <li>
            <%= tag.a(href: item.href, class: class_names("active" => item.active?), target: item.target, rel: item.rel) do %>
              <% if item.icon.present? %>
                <%= render Bali::Icon::Component.new(item.icon, class: 'size-4') %>
              <% end %>
              <%= item.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
  <%# Simple item: expanded and collapsed versions %>
  <%# Expanded state %>
  <%= tag.a(href: href.presence || '#', class: "#{menu_item_classes} side-menu-expanded", disabled: disabled? ? 'disabled' : nil, target: target, rel: rel, **@options) do %>
    <%= render_icon %>
    <span class="grow"><%= content || name %></span>
    <%= render_badge %>
  <% end %>
  <%# Collapsed state: icon with tooltip %>
  <%= render_collapsed_tooltip %>
<% end %>
