<li>
  <% if items.blank? %>
    <% link_class = @options.delete(:class) %>
    <%= render Bali::Link::Component.new(
        name: @name, href: @href, icon_name: @icon, active_path: current_path, 
        active: @active, class: token_list(link_class, 'side-menu-component--item-component is-expanded'),
        **@options) %>
    <%= render Bali::Tooltip::Component.new do |tooltip| %>
      <% tooltip.with_trigger do %>
        <%= render Bali::Link::Component.new(
            name: @name, href: @href, icon_name: @icon, active_path: current_path, 
            active: @active, class: token_list(link_class, 'side-menu-component--item-component is-collapsed'),
            **@options) %>
      <% end %>
      <%= @name %>
    <% end %>
  <% else %>
    <details class="<%= class_names('collapse collapse-arrow', 'collapse-open': active?) %>" data-controller="reveal">
      <summary class="collapse-title">
        <% if @icon.present? %>
          <%= render Bali::Icon::Component.new(@icon, class: 'w-5 h-5') %>
        <% end %>
        <%= @name %>
      </summary>
      <ul class="collapse-content pl-4" data-reveal-target="item">
        <% if @href.present? %>
          <li>
            <%= render Bali::Link::Component.new(
                name: @name, href: @href, icon_name: @icon, active_path: current_path, active: @active) %>
          </li>
        <% end %>
        <% items.each do |item| %>
          <%= item %>
        <% end %>
      </ul>
    </details>
  <% end %>
</li>
